body {
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: #a4eb71; /* 背景の緑色 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
}



h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #FFF3B0; /* タイトルの色 */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #FFF3B0; /* ラベルの色 */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    background-color: #FFF3B0; /* 入力欄の背景色 */
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.cancel {
    font-family: 'Zen Maru Gothic', sans-serif;
    background: none;
    border: none;
    color: #FFF3B0;
    cursor: pointer;
}

.register {
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: #FFA500; /* 登録ボタンの色 */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.register:hover {
    background-color: #FF8C00; /* 登録ボタンのホバー時の色 */
}
